version: '3.1'

services:
  users:
    image: saywhat-users
    stdin_open: true # docker run -i
    tty: true        # docker run -t
    build: 
      context: ./
      dockerfile: Dockerfile
    container_name: saywhat-users
    ports:
     - "80:80"
     - "443:443"
    environment:
     - NODE_ENV=development
     - ENVIRONMENT=docker
     - PASSWORD_SALT=passwordsalt
     - USER_TABLE_NAME=usertable
     - JWT_SECRET=jwtsecret
    depends_on:
      - localstack
    command: ["/wait-for.sh", "localstack:4566", "--", "npm", "test"]

  localstack:
    image: localstack/localstack
    ports:
      - "4566:4566"
    environment:
      - SERVICES=dynamodb
      - DEFAULT_REGION=eu-west-1
      - DOCKER_HOST=unix:///var/run/docker.sock
    volumes:
      - "${TMPDIR:-/tmp/localstack}:/tmp/localstack"
